body{
    background-color: rgb(135, 153, 235);
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    font-family: monospace;
    
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#divCampos{
    display: block;
    background-color: skyblue;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: solid 2px black;
}
#autor{
    text-align: right;

}